* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Inter, "avenir next", avenir, "segoe ui", "helvetica neue", helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

svg {
    display: block;
    width: 24px;
    stroke: var(--white);
}

:root {
    --white: #FAFAFA;
    --black: #0F0F0F;
    --gray: #3D3D3D;
    --lite-gray: #969696;
    --yellow: #EDC526;
}

header,
main,
footer {
    max-width: 1920px;
    margin: 0 auto;
}

body {
    position: relative;
    background-color: var(--black);
    color: var(--white);
    fill: var(--white);
    width: 100%;
    min-height: 100dvh;
    padding: 25px;
}

header {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    gap: clamp(20px, calc(15vw + 1rem), 60px);
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 800;

    & svg {
        width: clamp(100px, calc(15vw + 1rem), 185px);
    }

    & ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    & a {
        color: var(--white);
        transition: color 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            color: var(--yellow);
        }
    }

    & .this-page,
    .perfil {
        color: var(--yellow);
    }

    & .perfil {
        margin-left: auto;
    }

}

main {
    padding: 60px 0;
    width: 65%;
    margin: 0 auto;

    /* border: 1px solid red; */
    & .main-header {
        justify-content: space-between;
        align-items: start;
        margin-bottom: 30px;

        & button {
            background-color: var(--white);
            border: none;
            color: var(--black);
            font-size: 1rem;
            font-weight: 800;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border-radius: 15px;

            &:hover {
                background-color: var(--yellow);
            }

            & svg {
                width: 15px;
                stroke: var(--black);
                stroke-width: 5px;
            }
        }

        & div {
            display: flex;
            align-self: end;
            gap: 20px;
        }
    }

    & #h2-search {
        font-size: 1.5rem;
        font-weight: 800;
        color: var(--white);
        margin-bottom: 20px;
        display: none;
    }

    & #main-header-search {
        display: none;
        margin-bottom: 30px;
        & .search-bar {
            display: flex;
            background-color: var(--white);
            border: none;
            color: var(--black);
            width: 100%;
            border-radius: 15px;
            align-items: center;
            transition: all 0.2s ease-in-out;
            padding: 0 15px;
            align-self: end;

            & input[type="search"] {
                background-color: var(--white);
                font-size: 1rem;
                font-weight: 800;
                cursor: text;
                transition: all 0.2s ease-in-out;
                padding: 15px 5px;
                width: 100%;
                border: none;
                transition: all 0.2s ease-in-out;

                &::placeholder {
                    color: var(--lite-gray);
                    font-weight: 800;
                }

                &:focus {
                    outline: none;
                }

                &::-webkit-search-cancel-button {
                    display: none;
                }
            }

            & svg {
                width: 15px;
                stroke: var(--black);
                stroke-width: 5px;
            }

            &:has(input[type="search"]:focus) {
                background-color: var(--yellow);

                & input[type="search"],
                button {
                    background-color: var(--yellow);
                }

                & svg {
                    stroke: var(--black);
                }
            }

            & button {
                padding: 0;
                background-color: transparent;

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    & .cards-list {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .card {
            /* border: 1px solid blue; */
            background-color: var(--gray);
            width: 100%;
            border-radius: 20px;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & div {
                align-self: center;
                display: flex;
                gap: 10px;
            }

            & svg {
                height: 20px;
                stroke-width: 2px;
            }

            & p {
                font-size: 1rem;
                font-weight: 100;
                color: var(--white);
            }

            & button {
                background-color: var(--white);
                border: none;
                color: var(--black);
                font-size: 1rem;
                font-weight: 800;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                padding: 10px;
                border-radius: 15px;

                &:hover {
                    background-color: var(--yellow);
                }
            }
        }
    }
    & .btn-go-rooms{
        & a {
            color: var(--black);
        }
    }
}

footer {
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
    align-items: end;
    margin-top: auto;
    justify-content: center;
    font-size: 15px;
    color: var(--lite-gray);

    & p {
        text-transform: none;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--lite-gray);
        top: 0;
    }
}

.area-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;

    & #modal-confirm-delete{
        background-color: var(--gray);
        min-width: 300px;
        padding: 20px;
        border-radius: 25px;
        text-align: center;

        & h3 {
            margin-bottom: 20px;
            color: var(--white);
        }
        & div{
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }
        & button {
            background-color: var(--white);
            border: none;
            color: var(--black);
            font-size: 1rem;
            font-weight: 800;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            padding: 15px 20px;
            border-radius: 15px;

            &:hover {
                background-color: var(--yellow);
            }
        }
    }
}